<.modal :if={@generating} show id="generating">
  <div class="text-white font-bold">Generating lilypond...</div>
</.modal>

<div class="grid grid-cols-3 gap-4 h-96">
  <div id="instrument-list">
    <.instrument_form search_term={@search_term} search_results={@search_results} />

    <%= if @score do %>
      <.score_buttons />
      <.instrument_list staves={@instruments} />
    <% end %>
  </div>
  <.score score={@score} pdf_score={@pdf_score} generating={@generating} />
</div>
